<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Console dashboard</title>
</head>
<body>
<p><h2><a href="history"> Alarm history </a></h2></p>
<p><h2>Active alarms</h2></p>
<table width="100%" border="1">
    <tr>
        <th>Time</th>
        <th>ID</th>
        <th>Source</th>
        <th>Environment</th>
        <th>Target</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% if len > 0 %}
        {% for o in items %}
            <tr>
                <td>{{ o._time }}</td>
                <td>{{ o._id }}</td>
                <td>{{ o._source }}</td>
                <td>{{ o._env }}</td>
                <td>{{ o._target }}</td>
                <td>{{ o._description }}</td>
                <td><a href="">I have fixed it</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>Empty</td>
            <td>Empty</td>
            <td>Empty</td><td>Empty</td>
            <td>Empty</td>
            <td>Empty</td><td>Empty</td>
        </tr>
    {% endif %}
</table>
</body>
</html>